[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target
Documentation=https://docs.mongodb.org/manual

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/.mongodb/bin/mongod --quiet

[Install]
WantedBy=multi-user.target
